.manageInventory{
    margin-top: 100px;
    margin-bottom: 100px;
}
.inventory-btn{
    border:none;
    color:#ffff;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(to bottom right, #c7081b, #e71026);
}