.car-detail{
    padding-top: 100px;
    padding-bottom: 100px;
    background: url(../../images/background1.png) no-repeat center;
    background-size: cover;
}
.car-info{
    padding-bottom: 30px;
    border-bottom: 2px solid black;
}
.quantity{
    padding-top: 30px;
}

.car-detail-img img{
    width:100%;
    height: 400px;
}